---
http_interactions:
- request:
    method: get
    uri: https://api.quotable.io/search/quotes?limit=10&query=readily&sortBy=quoteCount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c3-rX3SiTGHk9KwXIiMXL/XgJQzz0k"
    body:
      encoding: UTF-8
      string: '{"count":1,"totalCount":1,"page":1,"totalPages":1,"lastItemIndex":null,"results":[{"_id":"8ry084PzfT","content":"A
        true friend freely, advises justly, assists readily, adventures boldly, takes
        all patiently, defends courageously, and continues a friend unchangeably.","author":"William
        C. Menninger","tags":["friendship"],"authorId":"PyQOMX6cxaNs","authorSlug":"william-c-menninger","length":153,"dateAdded":"2021-02-27","dateModified":"2021-02-27"}]}'
  recorded_at: Sat, 29 Oct 2022 16:05:32 GMT
- request:
    method: get
    uri: https://api.quotable.io/search/quotes?limit=10&query=readily&sortBy=quoteCount
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c3-rX3SiTGHk9KwXIiMXL/XgJQzz0k"
    body:
      encoding: UTF-8
      string: '{"count":1,"totalCount":1,"page":1,"totalPages":1,"lastItemIndex":null,"results":[{"_id":"8ry084PzfT","content":"A
        true friend freely, advises justly, assists readily, adventures boldly, takes
        all patiently, defends courageously, and continues a friend unchangeably.","author":"William
        C. Menninger","tags":["friendship"],"authorId":"PyQOMX6cxaNs","authorSlug":"william-c-menninger","length":153,"dateAdded":"2021-02-27","dateModified":"2021-02-27"}]}'
  recorded_at: Sat, 29 Oct 2022 16:05:32 GMT
recorded_with: VCR 6.1.0
